<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header/top.ejs") %>

  <body>
    <%- include("./partials/header/header.ejs") %>
    <section
      id="page-header"
      class="about-header"
      style="background-image: url('img/about/bannner.png')"
    >
      <h2>#Let's Talk</h2>

      <p>Leave a Message, we love to hear from you!</p>
    </section>
    <section id="contact-details" class="section-p1">
      <div class="details">
        <span>Get In Touch</span>
        <h2>Visit one of our agency location or contact us</h2>
        <h3>Head Office</h3>
        <div>
          <li>
            <i class="fal fa-map"></i>
            <p>56 Glassford street Glasgow G1 1UL New York</p>
          </li>
          <li>
            <i class="fal fa-envelope"></i>
            <p>contact@emaple.com</p>
          </li>
          <li>
            <i class="fal fa-phone-alt"></i>
            <p>contact@example.com</p>
          </li>
          <li>
            <i class="fal fa-clock"></i>
            <p>56 Glassford street Glasgow G1 1UL New York</p>
          </li>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14599.886822664186!2d90.41143247266724!3d23.
          81960515737944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c62fce7d991f%3A0xacfaf1ac8e944c05!
          2sBasundhara%20Residential%20Area%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1701670384646!5m2!1sen!2sbd"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </section>
    <section id="form-details">
      <form action="">
        <span>Leave a Message</span>
        <h2>We love to hear from you</h2>
        <input type="text" placeholder="Your Name" />
        <input type="text" placeholder="E-mail" />
        <input type="text" placeholder="Subject" />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Your Message"
        ></textarea>
        <button class="normal">Submit</button>
      </form>
      <div class="people">
        <div>
          <img src="img/people/1.png" alt="" />
          <p>
            <span>John Smith</span> Senior Marketing Manager <br />Phone = +000
            111 466 77 66 <br />
            Email: contact@example.com
          </p>
        </div>
        <div>
          <img src="img/people/2.png" alt="" />
          <p>
            <span>Henry Wills</span> Production Manager <br />Phone = +000 111
            466 77 66 <br />
            Email: contact@example.com
          </p>
        </div>
        <div>
          <img src="img/people/3.png" alt="" />
          <p>
            <span>Smily Clark</span> Marketing Manager <br />Phone = +000 111
            466 77 66 <br />
            Email: contact@example.com
          </p>
        </div>
      </div>
    </section>
    <%- include("./partials/footer/footer.ejs") %>
  </body>
</html>
